header {
    margin: 20px auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 300px;
    height: 200px;
}

button {
    background-color: rgb(93, 125, 243);
    border: none;
    width: 70px;
    height: 40px;
    border-radius: 5px;
}
